* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(
    top,
    rgb(255, 255, 255) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  font-family: helvetica neue, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

.main {
  /**/
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto auto 30px;
  /**/

  /**/
  grid-row-gap: 0px;
  /**/
  min-height: calc(100vh);
  height: 100%;
}

.main-top-project-fix {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto auto 30px;
}

.top {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: last;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.top > .left {
  float: left;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
}

.top > .right {
  float: right;
  text-decoration: none;
  font-size: 12px;
}

.top > .left,
.top > .right {
  height: 100%;
  padding: 0.5rem 1rem;
  padding-top: 15px;
}

.mobile-container {
  display: none;
}

.menuitem {
  display: inline;
  margin-right: 15px;
}

.menu a {
  text-decoration: none;
}

.menu > .menuitem:hover a {
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.menu > .menuitem:hover {
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.top > .left a,
.top > .left a:visited {
  text-decoration: none;
  color: #111;
}

.top > .left:hover a {
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.top > .left:hover {
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.menu > .menuitem {
  background-color: #ffffff;
  color: #111;
}

.menu > .menuitem:hover {
  color: #ff4136;
}

.menu > .menuitem:hover a {
  color: #ff4136;
}

.menuitem > a:link,
a:visited {
  text-decoration: none;
  color: #111;
}

.menuitem > a:hover,
a:active {
  text-decoration: none;
  color: ghostwhite;
}

.right > .menu .menuitem {
  padding-bottom: 16px;
}

.item1 {
  z-index: 1;

  background-position: center;
  background-size: cover;
  margin-top: 88px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.item1 > .background-image {
  width: 100%;
  height: 50vh;
  z-index: -1;
  position: relative;
  display: block;
  margin: 0px;
  margin-top: -50px;
  margin-bottom: -200px;
  margin-left: -30px;
  justify-self: center;
  justify-items: center;
  box-align: center;
  box-align: central;
  filter: blur(1.5px);
}

.item2 {
  grid-row-start: 3;
  grid-column-start: 1;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
}

.item2 i:hover {
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.item3 {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
}

.item4 {
  grid-row-start: 3;
  grid-column-start: 3;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
}

.item1,
.item2,
.item3,
.item4 {
  padding: 20px;
}

.ftr {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
}

p {
  color: #111;
  letter-spacing: 0.1em;
  line-height: 1.75;
  font-family: merriweather, serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.ftr p {
  position: absolute;
  top: 50%;
  left: 0%;
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  font-size: 11px;
  padding-left: 20px;
  opacity: 0.7;
}

/*LinkedIn image*/
.topcard__profile-image.lazy-loaded {
  border: 4px solid #fff;
}

.topcard__profile-image.lazy-loaded:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15),
    0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 83ms;
  transition: -webkit-box-shadow 83ms;
  transition: box-shadow 83ms;
  transition: box-shadow 83ms, -webkit-box-shadow 83ms;
  cursor: pointer;
}

.topcard__profile-image {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 83ms;
  transition: -webkit-box-shadow 83ms;
  transition: box-shadow 83ms;
  transition: box-shadow 83ms, -webkit-box-shadow 83ms;
  margin: -7% 0 0;
}

.entity-image--circle-8 {
  width: 128px;
  height: 128px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 49.9%;
}
/**/

.davidvaikasas {
  color: #3a4145;
  width: auto;
  letter-spacing: 0.05em;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 1.3em;
}

.davidvaikasas:hover {
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.davidvaikasasdescription {
  color: #1c8a93;
  font-size: 0.8em;
}

.location {
  font-size: 0.6em;
}

.location i {
  color: #ff4136;
}

h1 {
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  padding-bottom: 15px;
}

.icons {
  text-align: left;
  font-size: 16px;
  padding: 2px;
  vertical-align: central;
}

.icons a {
  text-decoration: none;
  color: #111;
  align-content: center;
}

.icons a:visited {
  color: #111;
}

.icons i {
  font-size: 30px;
}

.icons:hover {
  text-decoration: none;
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.icons:hover a {
  text-decoration: none;
  color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.cvcontainer {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 1em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -0%);
}

.projectgrid {
  /**/

  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 400px auto;
  /**/
  position: absolute;
  left: 0;
  right: 0;
  /**/
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  /**/
  color: #111;
  letter-spacing: 0.05em;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  /**/
}

.projectlinks1 {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 10px;
  color: #111;
  background-color: #ffffff;
  padding: 10px;
  /**/
  border: 0.4px solid #777;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
}

.projectlinks1 a {
  text-decoration: none;
  color: #111;
}

.projectlinks2 {
  grid-column-start: 3;
  grid-row-start: 2;
  margin-top: 10px;
  color: #111;
  background-color: #ffffff;
  padding: 10px;
  /**/
  border: 0.4px solid #777;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
}

.projectlinks2 a {
  text-decoration: none;
  color: #111;
}

.psample1 {
  background-color: #ffffff;
  grid-column-start: 2 - 10px;
  text-align: center;
  background-image: url(../images/ecommerce.PNG);
  background-size: cover;
  /**/
  border: 0.4px solid #777;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  position: relative;
}

.psample1 > .pg {
  color: #ffffff;
  background-color: #111;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

.psample1 .hiddenpg {
  display: none;
}

.psample1:hover {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample1:hover .pg {
  background-color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample1:hover .hiddenpg {
  display: grid;
}

.psample2 {
  background-color: #ffffff;
  grid-column-start: 2-10px;
  grid-row: 1;
  text-align: center;
  background-image: url(../images/android.jpg);
  background-size: cover;
  /**/
  border: 0.4px solid #777;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  position: relative;
}

.psample2 > .pg {
  color: #ffffff;
  background-color: #111;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

.psample2 .hiddenpg {
  display: none;
}

.psample2:hover {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample2:hover .pg {
  background-color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample2:hover .hiddenpg {
  display: grid;
}

.psample3 {
  background-color: #ffffff;
  grid-column-start: 2;
  text-align: center;
  background-image: url(../images/ecommercev2.PNG);
  background-size: cover;
  /**/
  border: 0.4px solid #777;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
  position: relative;
}

.psample3 > .pg {
  color: #ffffff;
  background-color: #111;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}

.psample3 .hiddenpg {
  display: none;
}

.psample3:hover {
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: lighten;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample3:hover .pg {
  background-color: #ff4136;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.psample3:hover .hiddenpg {
  display: grid;
}

.hiddenpg {
  padding: 10px;
  margin-top: 50px;
  letter-spacing: 0.05em;
  font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #3a4145;
}

.htmlcv {
  display: initial;
  text-size-adjust: 70%;
  font-size-adjust: 0.4;
}

.btncontainer {
  display: inline;
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;
}

.btngreen,
.btnred {
  padding: 7px;
  display: inline-block;
  border-radius: 2px;
  font-weight: 700;
}

.btngreen {
  border: 1px solid #2ecc40;
  color: #2ecc40;
  margin-right: 15px;
}

.btngreen:hover {
  color: #ffffff;
  background-color: #2ecc40;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.btnred {
  border: 1px solid #ff4136;
  color: #ff4136;
}

.btnred:hover {
  color: #ffffff;
  background-color: #ff4136;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.facebook {
  display: grid;
  grid-template-rows: 70px auto;
}

.fb-comments {
  grid-row-start: 2;
}

.comments {
  display: none;
}

/*Responsive*/
@media screen and (max-width: 815px) {
  body {
    background: rgba(248, 249, 249, 1);
  }
}

@media screen and (max-width: 700px) {
  .top {
    display: none;
  }

  .mobile-container {
    display: initial;
  }

  .cvcontainer {
    position: relative;
    margin-top: 50px;
  }
  .cvcontainer object,
  .cvcontainer embed {
    width: 655px;
  }

  .mobile-container {
    margin: auto;
    width: 100%;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .topnav {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .topnav #myLinks {
    display: none;
    text-align: center;
    font-size: 12px;
  }

  .topnav #myLinks a {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .topnav a {
    color: #111;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  .topnav a.icon {
    color: #111;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
  }

  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto 30px;
  }

  .topcard__profile-image {
    margin: 0 0 0;
  }

  .item1 {
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .item2 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .item3 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .item4 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .ftr {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .projectgrid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 10% 40% 35% 15%;
    grid-template-rows: 300px 300px 300px auto 30px;
    grid-row-gap: 10px;
  }

  .psample3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .psample1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .psample2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
  }

  .projectlinks1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .projectlinks2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .psample2 .hiddenpg,
  .psample1 .hiddenpg,
  .psample3 .hiddenpg {
    display: grid;
  }

  .psample1,
  .psample2,
  .psample3 {
    background-color: #ffffff;
    background-image: none;
  }

  .davidvaikasas {
    font-size: 1.1em;
  }

  .davidvaikasasdescription {
    font-size: 0.6em;
  }

  .location {
    font-size: 0.4em;
  }

  .btnred {
    top: 300px;
    color: #ffffff;
    background-color: #ff4136;
  }

  .btngreen {
    color: #ffffff;
    background-color: #2ecc40;
  }
}

@media screen and (max-width: 600px) {
  .cvcontainer object,
  .cvcontainer embed {
    width: 555px;
    height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .cvcontainer object,
  .cvcontainer embed {
    width: 455px;
    height: 500px;
  }
}

@media screen and (max-width: 400px) {
  .cvcontainer object,
  .cvcontainer embed {
    width: 355px;
    height: 500px;
  }
}

@media screen and (max-width: 300px) {
  .cvcontainer object,
  .cvcontainer embed {
    width: 255px;
    height: 500px;
  }
}
